{% extends 'basel.html' %}
{% block title %}Cadastro{% endblock %}

{% block content %}
<h2>Cadastro</h2>
<form method="post">
    {% csrf_token %}
    
    <div>
        <label for="{{ form.username.id_for_label }}">Usuário: </label>
        {{ form.username }}
    </div>
    
    <div>
        <label for="{{ form.email.id_for_label }}">Email: </label>
        {{ form.email }}
    </div>
    
    <div>
        <label for="{{ form.password1.id_for_label }}">Senha: </label>
        {{ form.password1 }}
    </div>
    
    <div>
        <label for="{{ form.password2.id_for_label }}">Repita a Senha: </label>
        {{ form.password2 }}
    </div>
    
    <button type="submit" class="btn">Cadastrar</button>
</form>

<p>Já tem uma conta? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}
